@model ScoutMaster.Models.UcinakBO

@{
    ViewBag.Title = "DodajUcinak";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

<body class="pozadina-dodaj-azu" style="height: 800px;">
    <div class="forma-dodaj-azu" style="margin-top: 45px;">
        <div class="form-horizontal">
            <h2 class="naslov-pocetna" style="margin-bottom: 25px;">Dodaj učinak</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("RefIdIgraca", (int)ViewBag.Igrac.IdIgraca)
            <div class="form-group">
                <label for="Ime" class="control-label col-md-2">Ime:</label>
                <div class="col-md-10">
                    <input type="text" name="Ime" value="@ViewBag.Igrac.Ime" class="form-control textbox" style="width: 835px;" disabled="disabled" />
                </div>
            </div>

            <div class="form-group">
                <label for="Prezime" class="control-label col-md-2">Prezime:</label>
                <div class="col-md-10">
                    <input type="text" name="Prezime" value="@ViewBag.Igrac.Prezime" class="form-control textbox" style="width: 835px;" disabled="disabled" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Izaberite utakmicu:</label>
                <div class="col-md-4">
                    @Html.DropDownList("RefIdUtakmice", new SelectList(ViewBag.Utakmice, "IdUtakmice", "Klubovi"), new { @class = "form-control textbox" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Golovi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Golovi, new { htmlAttributes = new { @class = "form-control textbox", @style = "width: 835px;" } })
                    @Html.ValidationMessageFor(model => model.Golovi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Asistencije, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Asistencije, new { htmlAttributes = new { @class = "form-control textbox", @style = "width: 835px;" } })
                    @Html.ValidationMessageFor(model => model.Asistencije, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ZutiKartoni, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ZutiKartoni, new { htmlAttributes = new { @class = "form-control textbox", @style = "width: 835px;" } })
                    @Html.ValidationMessageFor(model => model.ZutiKartoni, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CrveniKartoni, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CrveniKartoni, new { htmlAttributes = new { @class = "form-control textbox", @style = "width: 835px;" } })
                    @Html.ValidationMessageFor(model => model.CrveniKartoni, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Dodavanja, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dodavanja, new { htmlAttributes = new { @class = "form-control textbox", @style = "width: 835px;" } })
                    @Html.ValidationMessageFor(model => model.Dodavanja, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UspesnaDodavanja, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UspesnaDodavanja, new { htmlAttributes = new { @class = "form-control textbox", @style = "width: 835px;" } })
                    @Html.ValidationMessageFor(model => model.UspesnaDodavanja, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prekrsaji, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prekrsaji, new { htmlAttributes = new { @class = "form-control textbox", @style = "width: 835px;" } })
                    @Html.ValidationMessageFor(model => model.Prekrsaji, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 30px;">
                @Html.LabelFor(model => model.Minuti, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Minuti, new { htmlAttributes = new { @class = "form-control textbox", @style = "width: 835px;" } })
                    @Html.ValidationMessageFor(model => model.Minuti, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj učinak" class="btn btn-success" style="width: 130px; margin-right: 5px; margin-bottom: 23px;" />
                    @Html.ActionLink("Vrati se nazad", "Index", "Igrac", null, new { @class = "btn btn-primary", @style = "width: 130px; margin-bottom: 23px;" })
                </div>
            </div>
        </div>
    </div>
</body>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
