@model ScoutMaster.Models.IgracBO

@{
    ViewBag.Title = "ObrisiIgraca";
}


<body class="pozadina-obrisi">
    <div class="obrisi-text ">
        <h1 style="margin-top: 40px;">Brisanje igrača</h1>

        <h3 style="margin-top: 30px;">Da li ste sigurni da želite da obrišete ovog igrača?</h3>
        <div>
            @using (Html.BeginForm("ObrisiIgraca", "Igrac", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h4 style="margin-top: 25px; font-size: 25px;"><strong>@Html.DisplayFor(model => model.Ime)      @Html.DisplayFor(model => model.Prezime)</strong></h4>
                <hr />
                <dl class="dl-horizontal" style="font-size: 17px;">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdIgraca):
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdIgraca)
                        @Html.HiddenFor(x => x.IdIgraca)
                    </dd>

                    <dt style="margin-top: 7px;">
                        @Html.DisplayNameFor(model => model.Ime):
                    </dt>

                    <dd style="margin-top: 7px;">
                        @Html.DisplayFor(model => model.Ime)
                        @Html.HiddenFor(x => x.Ime)
                    </dd>

                    <dt style="margin-top: 7px;">
                        @Html.DisplayNameFor(model => model.Prezime):
                    </dt>

                    <dd style="margin-top: 7px;">
                        @Html.DisplayFor(model => model.Prezime)
                        @Html.HiddenFor(x => x.Prezime)
                    </dd>

                    <dt style="margin-top: 7px;">
                        @Html.DisplayNameFor(model => model.Godiste):
                    </dt>

                    <dd style="margin-top: 7px;">
                        @Html.DisplayFor(model => model.Godiste)
                        @Html.HiddenFor(x => x.Godiste)
                    </dd>

                    <dt style="margin-top: 7px;">
                        @Html.DisplayNameFor(model => model.Pozicija):
                    </dt>

                    <dd style="margin-top: 7px;">
                        @Html.DisplayFor(model => model.Pozicija)
                        @Html.HiddenFor(x => x.Pozicija)
                    </dd>

                    <dt style="margin-top: 7px;">
                        @Html.DisplayNameFor(model => model.Klub):
                    </dt>

                    <dd style="margin-top: 7px;">
                        @Html.DisplayFor(model => model.Klub)
                        @Html.HiddenFor(x => x.Klub)
                    </dd>

                    <dt style="margin-top: 7px;">
                        @Html.DisplayNameFor(model => model.Visina):
                    </dt>

                    <dd style="margin-top: 7px;">
                        @Html.DisplayFor(model => model.Visina)
                        @Html.HiddenFor(x => x.Visina)
                    </dd>

                    <dt style="margin-top: 7px;">
                        @Html.DisplayNameFor(model => model.Nacionalnost):
                    </dt>

                    <dd style="margin-top: 7px;">
                        @Html.DisplayFor(model => model.Nacionalnost)
                        @Html.HiddenFor(x => x.Nacionalnost)
                    </dd>

                    <dt style="margin-top: 7px;">
                        @Html.DisplayNameFor(model => model.YoutubeLink):
                    </dt>

                    <dd style="margin-top: 7px;">
                        @Html.DisplayFor(model => model.YoutubeLink)
                        @Html.HiddenFor(x => x.YoutubeLink)
                    </dd>

                </dl>

                <div class="form-actions no-color" style="margin-top: 80px; margin-bottom: 50px;">
                    <input type="submit" id="Obrisi" value="Obriši" class="btn btn-danger" style="width: 130px; margin-right: 7px;" />
                    @Html.ActionLink("Vrati se nazad", "Index", null, new { @class = "btn btn-primary", @style = "width: 130px;" })
                </div>
            }
        </div>
    </div>
</body>
