@model ScoutMaster.Models.LoginModel

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body class="pozadina-login">
        <div class="forma-login">
            <div class="form-horizontal">
                <h3 class="naslov-login">Prijava</h3>
                <br>
                <br>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group text-center" style="width: 500px;">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-right: -200px; margin-left: 100px; margin-top: -5px;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "margin-left: 170px; width: 300px" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>
                <div class="form-group">
                    @Html.LabelFor(model => model.Lozinka, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-right: -200px; margin-left: 82px;" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Lozinka, new { @class = "form-control", @style = "margin-left: 170px; width: 300px" })
                        @Html.ValidationMessageFor(model => model.Lozinka, "", new { @class = "text-danger", @style = "margin-left: 125px;" })
                    </div>
                </div>

                @*@<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.Admin, htmlAttributes: new { @class = "checkboxx" })
                    @Html.LabelFor(m => m.Admin)
                </div>
            </div>
        </div>*@
                @Html.ValidationMessage("Greska", null, new { @class = "text text-danger", @style = "margin-left: 25px;" })
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10" style="margin-top: -23px;">
                        <br />
                        <br />
                        <input type="submit" value="Uloguj se" class="btn btn-success" style="margin-right: 17px; width: 120px;" />
                        @Html.ActionLink("Nemam nalog", "Registracija", "LogIn", new { @class = "btn btn-danger", @style = "width: 120px;" })
                    </div>
                </div>
            </div>

                            

            @if (TempData["Error"] != null)
            {
                <div class="red text-danger">
                    <p class="poruka"><strong>Greška:</strong> @TempData["Error"].ToString()</p>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="green text-success">
                    <p class="poruka"><strong>Uspešno:</strong> @TempData["Success"].ToString()</p>
                </div>
            }
        </div>
    </body>
}
