@model ScoutMaster.Models.KorisnikBO

@{
    ViewBag.Title = "PromeniLozinku";
}

<h2 class="naslov-dodaj-azu" style="margin-top: 30px;">Promena lozinke</h2>

<body class="pozadina-dodaj-azu" style="height: 800px;">
    <div class="forma-dodaj-azu" style="margin-top: 35px; height: 300px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.IdKorisnika)
                    @Html.HiddenFor(model => model.Lozinka)

                    <div class="form-group" style="margin-top: 40px;">
                        @Html.LabelFor(model => model.StaraLozinka, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StaraLozinka, new { htmlAttributes = new { @class = "form-control", @style = "width: 800px;" } })
                            @Html.ValidationMessageFor(model => model.StaraLozinka, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 25px;">
                        @Html.LabelFor(model => model.NovaLozinka, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NovaLozinka, new { htmlAttributes = new { @class = "form-control", @style = "width: 800px;" } })
                            @Html.ValidationMessageFor(model => model.NovaLozinka, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 25px;">
                        @Html.LabelFor(model => model.PotvrdaNoveLozinke, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PotvrdaNoveLozinke, new { htmlAttributes = new { @class = "form-control", @style = "width: 800px;" } })
                            @Html.ValidationMessageFor(model => model.PotvrdaNoveLozinke, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 28px;">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Promeni lozinku" class="btn btn-primary" style="width: 135px; margin-right:5px;" />
                            @Html.ActionLink("Vrati se nazad", "VratiKorisnikaPoEmail", "LogIn", new { email = Model.Email }, new { @class = "font-pocetna btn btn-danger", @style = "width: 135px;" })
                        </div>
                    </div>
                </div>

        }
        @if (TempData["Error"] != null)
        {
            <div class="red text-danger">
                <p class="poruka"><strong>Greška:</strong> @TempData["Error"].ToString()</p>
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="green text-success">
                <p class="poruka"><strong>Uspešno:</strong> @TempData["Success"].ToString()</p>
            </div>
        }


    </div>
</body>